.project-card {
    align-items: center;
    background-color: #494747;
    border: 1px 1px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem #F03C5F);
    height: 700px;
    justify-content: flex-start;
    width: 600px;
}

.project-card-cover {
    height: 50%;
    position: fixed;
    width: 100%;
}

.project-card-cover img {
  border-radius: 10%;
  height: 100%; 
  object-fit: cover;  
  width: 100%;
}

.project-card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60% 40px 0 40px;
    z-index: 1;
}

.project-card-nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 0;
    width: 100%;
}

.project-card-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0px 0;
    padding-left: 40px;
    width: 100%;
}

.project-card-footer button {
    margin-right: 60px;
    width: 90px
}

.is-active {
    text-decoration: none;
}