@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #152614;
  min-height: 100vh;
  -webkit-animation: color-change-2x 15s linear infinite alternate both;
  animation: color-change-2x 15s linear infinite alternate both;
}

body { 
  color: white;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.header nav {
  margin: 0 20px;
}

.header a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0 10px;
}

.page-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-landing section {
  text-align: center;
}

.page-landing img {
  border-radius: 12rem;
  width: 300px;
}

.about h2, h3, h4 {
  text-align: center;
  margin: 20px;
}

.about article > p {
  text-align: justify;
  width: 40%;
}

.about article {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.about section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.prog-list {
  width: 20%;
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.misc li {
  margin: 3px 0;
}

.prog-item {
  margin: 5px 0;
}

.prog-item img { 
  width: 50px;
}

.prog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: whitesmoke;
  text-shadow: 1px 2px #364b0b;
  margin: 10px 0;
}

.subtitle {
  color: white;
  margin: 10px 0;
  text-shadow: 1pSx 2px #1a097b;
}

.tabs li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 20px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  margin: 10px 0;
  width: 400px;
}

.project-card-header {
  align-items: center;
  background-color: #454545b2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-bottom: 10px;
  position: absolute;
  opacity: 0%;
  width: 100%;
  z-index: 3;
}

.module-icon {
  filter: invert(100%);
  padding-top: 10px;
  width: 50px;
}

.project-title {
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px #454545;
}

.card-image {
  border: 2px solid #858585;
  width: 400px;
  height: 200px;
}

.tabs li:hover {
  color: #580f70;
  text-shadow: 1px 1px #D5E689;
  text-decoration: underline #485412 ;
}

.is-active {
  color: #580f70;
  text-shadow: 1px 1px #D5E689;
  text-decoration: underline #D5E68D ;
}

.card-image {
  width: 100%;
}

.project-details-content {
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
}

.github-conteiner {
  text-align: center;
  width: 30%;
}

.project-conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.project-details-tags {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.know-details {
  display: flex;
}

.know-details p {
  margin: 0 10px;
}

.project-details-img-module {
  filter: invert(100%);
}

.project-details-resume {
  display: flex;
  justify-content: center;
  text-align: justify;
  width: 70%;
}

.project-details-buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  width: 90%;
}

.gitImg {
  border-radius: 50%;
  width: 70px;
}

.gitlink {
  display: flex;
  justify-content: stretch;
}

.project-instruction {
  color: white;
  padding-bottom: 10px;
}

.project-details-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header-subtitle {
  font-size: 12px;
}

.contact {
  text-align: center;
  width: 100%;
}

.contact-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.contact-title {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  writing-mode:vertical-rl;
}

.contact-networks {
  display: flex;
  flex-direction: column; 
}

.contact-networks-conteiner {
  display: flex;
  padding-right: 30px;
}

.content-icons {
  color: white;
  font-size: 50px;
  margin: 10px 0;
}

.content-icons:hover {
  color: #454545;
}

.form-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact-form-sec {
  display: flex;
  width: 24%;
}

.form-contact {
  display: flex;
  width: 100%;
}
.form-contact label {
  margin: 5px 0;
  width: 100%;
}

.form-contact label > input{
  width: 100%;
}

.form-contact button {
  width: 40%;
  align-self: flex-end;
}

.alert-success {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.no-proj-message {
  color: #585858;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  text-shadow: 1px 1px #454545;
  text-align: center;
}

.message-icons i {
  font-size: 30px;
  margin: 0px 10px;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-card-info {
	-webkit-animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
	-webkit-animation: fade-out 300ms ease-out both;
	        animation: fade-out 300ms ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-2 14:47:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-webkit-keyframes color-change-2x {
  0% {
    background: #152614;
  }
  50% {
    background: #454545;
  }
  100% {
    background: #0D3B66;
  }
}
@keyframes color-change-2x {
  0% {
    background: #152614;
  }
  50% {
    background: #454545;
  }
  100% {
    background: #0D3B66;
  }
}
